<!DOCTYPE html>
<html>
        <head>
                <title>{{ page.title }}</title>
                <!-- link to main stylesheet -->
                <link rel="stylesheet" type="text/css" href="/css/main.css">
        </head>
        <body>
                <nav>
                <ul class>
                        <li><a href="/">Taylor</a></li>
                        <li><a href="/posts">Posts</a></li>
                        <li><a href="/about">About</a></li>
                </ul>
                </nav>
                <div class="container">

                {{ content }}

                </div><!-- /.container -->
                <footer>
                <ul>
                        <li><a href="mailto:taylor@jadin.me">email</a></li>
                        <li><a href="https://github.com/taylorjadin">github.com/taylorjadin</a></li>
                        </ul>
                </footer>
        </body>
</html>
